.footer {
    margin-top: 80px;
    background-color: #1d293e;
    width: 100%;
    height: 395px;
}
.footer-top {
    height: 320px;
    border-bottom: 1px solid #2d3649;
    display: flex;
    color: white;
    align-items: start;
    justify-content: space-evenly;
    padding: 50px 0px;
}
.footer-top h4 {
    font-size: 18px;
    margin-bottom: 20px;
}
.address, .phone-number, .email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact-us img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.company a, .Other a {
    margin-bottom: 10px;
    color: white;
}
.footer-bottom {
    height: 75px;
    display: flex;
    align-items: center;
}
#copyright {
    margin: 0px 280px 0px 200px;
}
#logo-footer {
    width: 170px;
    height: 60px;
    margin-right: 250px;
}
.fa-brands {
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
#go-to-top{
    position: absolute;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333e51;
    display: flex;
    justify-content: center;
    align-items: center;
}
#go-to-top:hover {
    background-color: #313a4a;
    cursor: pointer;
}
.fa-angle-up {
    color: #999fa8;
}